.box{
    width: 1000px;
    height: 480px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 8px;
  
    background-color: #FFFF;
}

h1{
    text-align: center;
    justify-content: center;
}

.card1{
    margin-left: 36px;
    margin-top: 40px;
}

.card2{
    margin-left: 354px;
    margin-top: -348px;
}

.card3{
    margin-left: 676px;
    margin-top: -348px;
}

.input-group-text{
    background-color: #000080;
    color: #FFFF;
}